body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

header {
    background-color: #2E7D32;
    color: #fff;
    padding: 9px 0;
    text-align: center;
    position: relative;  /* Adicionado */
}

.exit-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;  /* Adicionado */
    right: 20px;        /* Adicionado */
    top: 50%;           /* Adicionado */
    transform: translateY(-50%); /* Adicionado */
}

.exit-button i {
    margin-right: 5px;
}

.exit-button:hover {
    color: #f2f2f2;
}

h1 {
    color: #ffffff;
    font-size: 25px;
}

.informacaoPerfil {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.user-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.user-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2E7D32;
    margin-bottom: 10px;
}

.upload-button {
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.user-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user-name {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.user-email {
    font-size: 16px;
    color: #666;
}

.botoes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.botao {
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    width: calc(25.33% - 20px);
    text-align: center;
}

.informacaoPerfil, .botoes {
    background-color: #fff;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.feedback-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 1;
}

.feedback-button:hover {
    background-color: #228B22;
}



.botao:hover {
    background-color: #228B22;
}

footer {
    text-align: center;
    background-color: #2E7D32;
    color: #fff;
    padding: 3px 0;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
}

