body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Configuração para o fluxo de elementos verticalmente */
    min-height: 100vh; /* 100% da altura da viewport */
}
.main-content {
    flex: 1; /* Isso fará com que este elemento cresça e ocupe todo o espaço disponível */
}


header {
    background-color: #2E7D32; /* Verde escuro */
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

.container, .gerarRelatorios {
    background-color: #fff; /* Fundo branco para destacar o conteúdo */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sutil sombra */}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px; /* Definindo o espaço entre os elementos */
    margin-bottom: 20px;
}



h1 {
    color: #ffffff;
    font-size: 30px;
}
h2{
    color: #2E7D32;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 12px;
}

th {
    background-color: #2e8b57;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #2e8b57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #247345;
}
#gerarRelatorios button:first-child {
    margin-right: 100px;}

#gerarRelatorios {
    margin-top: 140px; /* ou qualquer valor que você achar adequado */
    }
    
footer {
    text-align: center;
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
}
.btn-voltar {
    background-color: transparent;
    border: none;
    color: #fff; /* Mudança para branco para ser visível no fundo verde */
    position: absolute; /* Adicionado para posicionar o botão no canto superior esquerdo */
    top: 15px; /* Ajuste conforme necessário */
    left: 15px; /* Ajuste conforme necessário */
    font-size: 16px;
}

.btn-voltar i {
    margin-right: 5px;
}

.btn-voltar:hover {
    color: #aaa; /* Mudança para um tom de cinza quando o mouse estiver sobre ele */
}
.btn-voltar:hover {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}