<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/cadastroFeedback.css}" />
</head>

<body>
<header>
    <button id="btn-voltar" class="btn-voltar">
        <i class="fas fa-arrow-left"></i> Voltar</button>
    <h1>Feedback</h1>
</header>
<section>

</section>

<!-- Seção de Avaliação -->
<section id="secao-avaliacao">
    <h2>Avalie o nosso serviço</h2>
    <p>Por favor, nos diga o que você acha do nosso serviço. Sua opinião é muito importante para nós!</p>
    <textarea name="avaliacao" id="avaliacao" rows="4" placeholder="Digite sua avaliação aqui..."></textarea>
    <button type="button" id="btnEnviarAvaliacao" th:onclick="salvarAvaliacao()">Enviar Avaliação</button>
</section>

<footer>
    <p>&copy; 2023 Deméter</p>
</footer>
<script th:src="@{/js/cadastroFeedback.js}"></script>
</body>

</html>
