<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/listaProdutos.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
<header>
    <button id="voltar" class="btn-voltar">
        <i class="fas fa-arrow-left"></i> Voltar
    </button>
    <h1>Lista de Produtos</h1>
</header>
<div class="main-content">
    <section class="container">
        <div class="header">
            <h2>Lista de Produtos</h2>
            <div> <!-- Novo container para o campo de busca e botão -->
                <input type="text" placeholder="Insira o nome do produto">
                <button id="btnBuscar">🔍</button>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Id do Produto</th>
                <th>Nome do Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Valor Total </th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <section id="gerarRelatorios" class="gerarRelatorios">
        <button id="btnGerarPDF">Gerar Relatório em PDF</button>
        <button id="btnGerarCSV">Gerar Relatório em .CSV</button>
    </section>
</div>
<footer>
    <p>&copy; 2023 Deméter</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
<script th:src="@{/js/listaProdutos.js}"></script>
</body>
</html>
