<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Deméter</title>
    <link rel="stylesheet" th:href="@{/css/styles_registro.css}">
</head>
<body>
    <header>
        <h1>Deméter</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Início</a></li>
                <li><a th:href="@{/nossos-produtos}">Produtos</a></li>
                <li><a th:href="@{/registro}">Cadastro</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <div class="login-image">
            <img th:src="@{img/agro.jpg}" alt="Imagem de Exemplo">
        </div>
        <div class="login-box">
            <h2>Cadastro</h2>
            <!-- Certifique-se de que o método seja POST -->
            <form action="/registro/cadastrar" method="post">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

                <button type="submit">Cadastrar</button>
            </form>
            <p class="login-prompt">Já possui uma conta? <a th:href="@{/login}">Clique aqui</a> para fazer login.</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Deméter</p>
    </footer>
</body>
</html>
